<div class="py-5 text-center rounded-5 {{task.color}}">
  <p class="m-2 fs-2">{{ task.title }}</p>
  <p class="m-2 fs-2">{{ task.date | date : "dd-MM-yyyy" }}</p>
  <p class="m-2 fs-2">{{ task.description}}</p>
  <p class="m-2 fs-3">{{task.status}}</p>
  <p class="m-2 fs-3">{{task.valor | currencyFormat}}</p>
  <p class="m-2 fs-3">Tags: <span class="fs-3" *ngFor="let tag of task.tags">{{tag}},</span></p>


  <button (click)="editarHandle(task)" class="btn btn-warning px-4 me-3">Editar</button>
  <button (click)="close()" class="btn btn-light px-4">Fechar</button>
</div>