<div class="container my-3 text-center">

  <form [formGroup]="formTask">
    <div class="rounded-5 p-3 formulario {{this.formTask.value.color}}">

      <input placeholder="Titulo" id="title" class="form-control border-dark px-3 py-2 my-3" type="text"
        formControlName="title" name="title" maxlength="20" required />
      <div *ngIf="formTask.get('title')?.invalid && formTask.get('title')?.touched">Título não pode estar vazio</div>

      <input placeholder="Descrição" id="description" class="form-control border-dark px-3 py-2 my-3" type="text"
        name="description" maxlength="20" formControlName="description" />


      <input id="date" class="form-control border-dark px-3 py-2" type="date" name="date" formControlName="date" />

      <select class="form-select border-dark px-3 py-2 my-3" name="status" formControlName="status">
        <option value="" disabled selected>Selecione o status</option>
        <option value="toDo">toDo</option>
        <option value="trabalhando">trabalhando</option>
        <option value="finalizado">finalizado</option>
      </select>



      <input id="valor" class="form-control border-dark px-3 py-2 my-3" type="number" formControlName="valor"
        name="valor" min="0" />
      <div *ngIf="formTask.get('valor')?.invalid && formTask.get('valor')?.touched">Valor deve ser maior ou igual a 0
      </div>

      <input type="button" (click)="addTag()" class="btn btn-secondary px-4" value="Adicionar tag">
      <div class="form-group" formArrayName="tags">
        <div *ngFor="let tag of tags.controls; let indice = index">
          <input type="text" id="tags" [formControlName]="indice">
        </div>
      </div>

    </div>

    <div class="form-cores my-2">

      <div class="d-flex justify-content-between bg-white p-2">
        <input type="radio" name="color" value="bg-primary-subtle" id="opcao1" class="form-check-input"
          formControlName="color">
        <label for="opcao1" class="bg-primary-subtle"></label>


        <input type="radio" name="color" value="bg-success-subtle" id="opcao2" class="form-check-input"
          formControlName="color">
        <label for="opcao2" class="bg-success-subtle"></label>

        <input type="radio" name="color" value="bg-danger-subtle" id="opcao3" class="form-check-input"
          formControlName="color">
        <label for="opcao3" class="bg-danger-subtle"></label>


        <input type="radio" name="color" value="bg-warning-subtle" id="opcao4" class="form-check-input"
          formControlName="color">
        <label for="opcao4" class="bg-warning-subtle"></label>


        <input type="radio" name="color" value="bg-dark-subtle" id="opcao5" class="form-check-input"
          formControlName="color">
        <label for="opcao5" class="bg-dark-subtle"></label>
      </div>

    </div>

    <button *ngIf="!taskEditar" type="submit" class="btn btn-info px-4" (click)='submitTask()'>Adicionar</button>
    <button *ngIf="taskEditar" type="submit" class="btn btn-info px-4"
      (click)='submitTask(taskEditar._id,true)'>Editar</button>
  </form>
</div>