@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

.fonte{
  font-family: 'Dancing Script', cursive;
}

/* Estilo normal dos links do menu */
.nav-link {
  color: white;
}

/* Estilo quando o mouse passa por cima dos links do menu */
.nav-link:hover {
  color: #ffbe33 !important;
}

/* Estilo normal dos icones do menu */
.area-usuario{
  color: white;
}

/* Estilo quando o mouse passa por cima dos icones do menu */
.area-usuario:hover {
  color: #ffbe33 !important;
}

.foto-bg {
    object-fit: cover;
  }


.area-usuario{
  display: flex;
}

.img-offer{
  border-radius: 100%;
  width: 175px;
  height: 175px;
}

.imagem-menu{
  max-width: 100%;
    max-height: 145px;
}

.img-box{
  border-radius: 0px 0px 0px 45px;
}

.shopping-cart{
  width: 23px;
  height: 23px;
}

.img-sobre{
  width: 100%;
    max-width: 445px;
}

/* Configuração imagem do card de ofertas */

.borda-img-card{
  overflow: hidden;
}

.card_offer{
  overflow: hidden;
}

.card_offer img{
  transition: transform .5s ease;
}

.card_offer:hover img{
  transform: scale(1.1);
}

/* Fim configuração card de ofertas */

/* Início configurações do rodapé */

.icon:hover {
  color: #ffbe33 !important;
}



/* Configuração imagem do menu */

.card-menu{
  overflow: hidden;
}

.card-menu img{
  transition: transform .3s ease;
}

.card-menu:hover img{
  transform: scale(1.1);
}

/* Fim configuração imagem do menu */




/* Configuração bolinhas carrossel header */

.div-carrossel{
  display: flex !important;
  flex-direction: column-reverse !important;
  justify-content: left !important;
  align-items: center !important;
}

.bolinhas-div{
  height: 20px !important;
  position: static !important;
  width: fit-content !important;

}

.bolinha-carrossel{
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background-color: white !important;
  cursor: pointer;
}

.bolinhas-div .active{
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
  background-color: #FFCA2C !important;
}

/* Fim configuração bolinhas carrossel header */