<div class="container">
  <div class="row d-flex">
    <app-task-form-reativo (editTask)="onEditTask($event)" (addTask)="onAddTask($event)" class="offset-1 col-4"
      [taskEditar]="taskEditar">
    </app-task-form-reativo>
    <!-- <app-task-form (addTask)="onAddTask($event)" class="offset-1 col-4"></app-task-form> -->
    <div *ngIf="selectedTask" class="col-4 offset-2 align-self-center">
      <app-task-detail [task]="selectedTask" (closeDetail)="fecharDetalhes()" (editar)="
        editarTask($event)"></app-task-detail>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <app-coluna-quadro class="col-4" status=toDo [tasks]="listTask"
        (handleTask)="handleTask($event)"></app-coluna-quadro>
      <app-coluna-quadro class="col-4" status=trabalhando [tasks]="listTask"
        (handleTask)="handleTask($event)"></app-coluna-quadro>
      <app-coluna-quadro class="col-4" status=finalizado [tasks]="listTask"
        (handleTask)="handleTask($event)"></app-coluna-quadro>
    </div>
  </div>
  <app-coluna-quadro status="Log" [tasks]='taskLog' (handleTask)="handleTask($event)"></app-coluna-quadro>

</div>