<div class="container">
  <div class="row d-flex">
    <app-task-form-reativo (addTask)="onAddTask($event)" class="offset-1 col-4">
    </app-task-form-reativo>
    <!-- <app-task-form (addTask)="onAddTask($event)"></app-task-form> -->
    <div *ngIf="selectedTask" class="col-4 offset-2 align-self-center">
      <app-task-detail [task]=" selectedTask" (closeDetail)="fecharDetalhes()"></app-task-detail>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <app-coluna-quadro class="col-4" status=toDo [tasks]="todoTasks"
        (handleTask)="handleTask($event)"></app-coluna-quadro>
      <app-coluna-quadro class="col-4" status=trabalhando [tasks]="trabalhandoTasks"
        (handleTask)="handleTask($event)"></app-coluna-quadro>
      <app-coluna-quadro class="col-4" status=finalizado [tasks]="finalizadasTasks"
        (handleTask)="handleTask($event)"></app-coluna-quadro>
    </div>
  </div>
  <app-task-log [listTask]="taskLog"></app-task-log>
  <!-- <app-task-list [tasks]="listTask" (handleTask)="handleTask($event)"></app-task-list> -->

</div>