<div class="container my-3 text-center">

  <form (ngSubmit)="submitTask(form)" #form="ngForm">
    <div class="rounded-5 p-3 formulario {{newTask.color}}">

      <input placeholder="Titulo" id="title" class="form-control border-dark px-3 py-2 my-3" type="text"
        [(ngModel)]="newTask.title" name="title" maxlength="20" required />

      <div *ngIf="!form.controls['title']?.valid && form.controls['title']?.touched">Título é obrigatório</div>

      <input placeholder="Descrição" id="description" class="form-control border-dark px-3 py-2 my-3" type="text"
        [(ngModel)]="newTask.description" name="description" maxlength="20" required />

      <div *ngIf="!form.controls['description']?.valid && form.controls['description']?.touched">Descrição é obrigatória
      </div>

      <input id="date" class="form-control border-dark px-3 py-2" type="date" [(ngModel)]="newTask.date" name="date"
        required pattern="^\d{4}-\d{2}-\d{2}$" />
      <div *ngIf="!form.controls['date']?.valid && form.controls['date']?.touched">Data é obrigatório</div>


      <select class="form-select border-dark px-3 py-2 my-3" name="status" [(ngModel)]="newTask.status" required>
        <option value="" disabled selected>Selecione o status</option>
        <option value="toDo">toDo</option>
        <option value="trabalhando">trabalhando</option>
        <option value="finalizado">finalizado</option>
      </select>
      <div *ngIf="!form.controls['status']?.valid && form.controls['status']?.touched">Status é obrigatório</div>

    </div>

    <div class="form-cores my-2">

      <div class="d-flex justify-content-between bg-white p-2">
        <input type="radio" name="color" value="bg-primary-subtle" id="opcao1" class="form-check-input"
          [(ngModel)]="newTask.color">
        <label for="opcao1" class="bg-primary-subtle"></label>


        <input type="radio" name="color" value="bg-success-subtle" id="opcao2" class="form-check-input"
          [(ngModel)]="newTask.color">
        <label for="opcao2" class="bg-success-subtle"></label>

        <input type="radio" name="color" value="bg-danger-subtle" id="opcao3" class="form-check-input"
          [(ngModel)]="newTask.color">
        <label for="opcao3" class="bg-danger-subtle"></label>


        <input type="radio" name="color" value="bg-warning-subtle" id="opcao4" class="form-check-input"
          [(ngModel)]="newTask.color">
        <label for="opcao4" class="bg-warning-subtle"></label>


        <input type="radio" name="color" value="bg-dark-subtle" id="opcao5" class="form-check-input"
          [(ngModel)]="newTask.color">
        <label for="opcao5" class="bg-dark-subtle"></label>
      </div>

    </div>

    <button type="submit" [disabled]="!form.valid" class="btn btn-info px-4">Adicionar</button>
  </form>
</div>