input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  border: 2px solid black;
  transform: scale(1.25);
}
label {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
label:hover {
  transform: scale(1.25);
}
