@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Roboto:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid rgb(167, 166, 166);
  padding: 10px;
  text-align: center;
}

#noBorder{
  border: none;
}

.leftAlign{
  text-align: left;
}

.preco {
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  padding: 2rem;
}

.corBasico {
  background-color: #7ebff2;
}

.corPadrao {
  background-color: #4a87ec;
}

.corAvancado {
  background-color: #7073ec;
}

.botao{
  width: 15rem;
  border: none;
  color: #fff;
  padding: 1rem 2rem;
  cursor: pointer;
}

